<article class="card" style="width: 18rem;">
  <slot name="img" />
  <main class="card-body">
    <slot name="product" />
    <slot name="description" />
    <slot name="productUrl" />
  </main>
</article>

<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
</head>
